/* This is the index CSS document */

/* =============== Section: Video banner =============== */

#banner {
    max-width: 900px;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

#banner-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#banner-headline {
    display: inline-flex;
    padding: 10px 16px;

    background: var(--color-green);
    border-radius: 0px 5px 5px 0px;

    position: absolute;
    bottom: 30px;
    left: 0px;
}

/* =============== Section: fablab introduktion =============== */

.fablab-introduction {
    background-color: var(--color-dark-blue);
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.hvad-er-fablab {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    width: 100%;
}

.hvad-er-fablab-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.hvad-er-fablab-inner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.fablab-for-dig {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width: 500px;
}

.fablab-drop-down-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.field-input-picker {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.field-input-text-box {
    display: flex;
    height: 40px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 5px 0px 0px 0px;
    background: #F9F9F9;
}

.field-input-text-box>p {
    padding-left: 16px;
}

.arrow-button-box {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 0px 0px;
    background: #FF7878;
}

.field-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    border-radius: 0px 0px 5px 5px;
    background: #C7E9FC;
}

.business-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.business-image-and-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    overflow: hidden;
}

.field-business-mobile {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.business-ideas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.business-cta {
    display: flex;
    padding: 0px 31px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.cta-button-kontakt {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;

    /* Button style */
    display: flex;
    max-width: 124px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #192442;
    border-radius: 5px;
    background: var(--color-white);
}

/* =============== Section: maskiner =============== */

.maskiner {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    background-color: var(--header-bg-color);
}

.maskiner>p {
    max-width: 500px;
}

.maskine-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 500px;
}

.maskine-img {
    width: 100%;
    height: 100%;
}



/* =============== Section: kurser =============== */

#kurser {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background: var(--color-coral-red);
}

#kurser-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 500px;
}

#badge-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 500px;
}

#kurser-boxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

.kursus-box {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.kursus-box-image {
    width: 100%;
}

.kursus-box-text {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    background: var(--color-light-blue);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 250px;
}


/* =============== Section: ansatte =============== */

#ansatte {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    gap: 30px;

    background: var(--color-light-blue);
}

#ansatte-kontaktpersoner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.kontaktperson-box-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontaktperson-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.kontaktperson-box-img {
    border-radius: 60px;
    width: 120px;
    height: 120px;
    background-color: var(--color-dark-blue);

    display: flex;
    justify-content: center;
}

.kontaktperson-box-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.kontaktperson-box-text-inner {
    display: flex;
    flex-direction: column;
}

/* =============== Section: praktisk information =============== */

.praktisk-info {
    background-color: var(--color-dark-blue);

    display: flex;
    justify-content: center;
}

#praktisk-info-inner {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
}

.praktisk-info-box {
    display: flex;
    height: 44px;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    background: var(--color-green);
}



/* =============== Section: footer =============== */



/* ========================================================================================== */

/* =============== Media Query =============== */
@media only screen and (min-width: 901px) {}