/* This is the index CSS document */

/* =============== Section: Video banner =============== */

#banner {
    max-width: 900px;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

#banner-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#banner-headline {
    display: inline-flex;
    padding: 10px 16px;

    background: var(--color-green);
    border-radius: 0px 5px 5px 0px;

    position: absolute;
    bottom: 30px;
    left: 0px;
}

/* =============== Section: fablab introduktion =============== */

/* Mobile */
#fablab-introduction {
    background-color: var(--color-dark-blue);
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

#hvad-er-fablab {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    width: 100%;
}

#hvad-er-fablab-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#hvad-er-fablab-inner-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#fablab-for-dig {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.fablab-drop-down-mobile {
    display: flex;
    flex-direction: column;
}

.field-input-picker {
    display: flex;
}

.field-input-text-box {
    display: flex;
    height: 40px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 5px 0px 0px 0px;
    background: #F9F9F9;
}

.field-input-text-box>p {
    padding-left: 16px;
}

.arrow-button-box {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 0px 0px;
    background: #FF7878;
}

.field-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 50px;
    border-radius: 0px 0px 5px 5px;
    background: #C7E9FC;
}

.business-intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.business-image-and-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field-business-mobile {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.business-ideas {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.business-cta {
    display: flex;
    gap: 16px;
    justify-content: center;
}


/* Desktop */

#fablab-introduction-desktop {
    display: none;
}

#fablab-for-dig-desktop {
    display: none;
}


/* =============== Section: maskiner =============== */

#maskiner {
    display: flex;
    justify-content: center;
    background-color: var(--header-bg-color);
}

#maskiner-inner {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    gap: 55px;
}

#maskiner-inner>p {
    max-width: 500px;
}

.maskine-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.maskine-img {
    width: 100%;
    height: 100%;
}

#maskiner-inner-desktop {
    display: none;
}



/* =============== Section: kurser =============== */

#kurser {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background: var(--color-coral-red);
}

#kurser-intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

#badge-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

#kurser-boxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

.kursus-box {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.kursus-box-image {
    width: 100%;
}

.kursus-box-text {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    background: var(--color-light-blue);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 250px;
}


/* =============== Section: ansatte =============== */

#ansatte {
    display: flex;
    justify-content: center;

    background: var(--color-light-blue);
}

#ansatte-inner {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    width: 100%;
}

#ansatte-kontaktpersoner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.kontaktperson-box-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontaktperson-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.kontaktperson-box-img {
    border-radius: 60px;
    width: 120px;
    height: 120px;
    background-color: var(--color-dark-blue);

    display: flex;
    justify-content: center;
}

.kontaktperson-box-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.kontaktperson-box-text-inner {
    display: flex;
    flex-direction: column;
}

/* =============== Section: praktisk information =============== */

.praktisk-info {
    background-color: var(--color-dark-blue);
    display: flex;
    justify-content: center;
}

#praktisk-info-inner {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
    width: 100%;
}

.praktisk-info-box {
    display: flex;
    height: 44px;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: var(--color-green);
}


/* ========================================================================================== */

/* =============== Media Query =============== */
@media only screen and (min-width: 901px) {

    /* =============== Section: Video banner =============== */
    #banner {
        max-width: unset;
    }

    #banner-inner {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 48px;
    }

    #banner-inner-box {
        width: 100%;
        max-width: 1248px;
        padding: 0px 24px;
    }

    #banner-headline {
        position: relative;
        padding: 24px;
        border-radius: 5px;

        bottom: unset;
        left: unset;
    }

    /* =============== Section: fablab introduktion =============== */
    #hvad-er-fablab {
        display: none;
    }

    #fablab-introduction-desktop {
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark-blue);
    }

    /* Hvad er fablab desktop */
    #hvad-er-fablab-desktop {
        display: flex;
        padding: 48px 0px;
        justify-content: center;
    }

    #hvad-er-fablab-content-desktop {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        max-width: 1248px;
        padding: 0px 24px;
    }

    #hvad-er-fablab-inner-desktop {
        display: flex;
        width: 100%;
        height: 450px;
        align-items: center;
        gap: 98px;
    }

    #hvad-er-fablab-inner-desktop-img {
        width: 100%;
        /* Aspect-ratio has been calculated with an Aspect Ratio Calculator based on the image's original size */
        aspect-ratio: 1.47/1;
        max-width: 551px;
    }

    #hvad-er-fablab-bodytext-button-desktop {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 551px;
        flex-direction: column;
        justify-content: space-between;
    }

    #hvad-er-fablab-text-desktop {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    /* Fablab for dig sektion har en anden media query længere nede */


    /* =============== Section: maskiner =============== */
    #maskiner-inner {
        display: none;
    }

    #maskiner {
        display: flex;
        padding: 48px 0px;
        justify-content: center;
    }

    #maskiner-inner-desktop {
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 1248px;
        padding: 0px 24px;
    }

    .maskine-box-desktop {
        display: flex;
        gap: 98px;
    }

    .maskine-box-desktop-img {
        max-width: 551px;
        width: 100%;
    }

    .maskine-box-desktop-text {
        display: flex;
        max-width: 551px;
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }

    #maskinerne-desktop-cta-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    #maskinerne-desktop-cta-text {
        display: flex;
        max-width: 551px;
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }




    /* =============== Section: kurser =============== */
    #kurser {
        display: none;
    }

    #kurser-desktop {
        display: flex;
        padding: 48px 48px;
        justify-content: center;
        align-items: center;
        background-color: var(--color-coral-red);
    }

    #kurser-content-desktop {
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 1248px;
    }

    .kurser-content-inner-desktop {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .kurser-text-and-img-desktop {
        display: flex;
        justify-content: center;
        gap: 98px;
    }

    .kurser-text-desktop {
        display: flex;
        width: 551px;
        flex-direction: column;
        gap: 76px;
    }

    .badge-text-desktop {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .kurser-img-desktop {
        width: 100%;
        height: 100%;
        max-width: 500px;
    }

    .kurser-boxes-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 98px;
    }

    .kurser-boxes-table {
        display: flex;
        gap: 98px;
        max-width: 1248px;
    }

    .kurser-boxes-table-column {
        display: flex;
        width: 552px;
        flex-direction: column;
        gap: 98px;
        max-width: 500px;
    }

    .kursus-box-desktop {
        height: 192.04px;
        position: relative;
        max-width: 500px;
    }

    .kursus-innovation-idegenerering-desktop {
        width: 100%
    }

    .kursus-box-text-desktop {
        display: inline-flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: var(--color-light-blue);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 300px;
    }

    /* =============== Section: ansatte =============== */
    #ansatte {
        padding: 48px 24px;
    }

    #ansatte-inner {
        gap: 48px;
        max-width: 710px;
        padding: 0;
        width: 100%;
    }

    #ansatte-kontaktpersoner {
        gap: 0;
    }

    .kontaktperson-box-row {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px;
    }

    .kontaktperson-box {
        max-width: 330px;
        width: 100%;
    }


    /* =============== Section: praktisk information =============== */
}


@media only screen and (min-width: 1200px) {

    #fablab-introduction {
        display: none;
    }

    /* Fablab for dig desktop */
    #fablab-for-dig-desktop {
        display: flex;
        padding: 48px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #fablab-for-dig-content-desktop {
        display: flex;
        max-width: 1248px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }

    #fablab-for-dig-text-desktop {
        display: flex;
        max-width: 551px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 48px;
    }

    .fields-desktop-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #fields-desktop {
        display: flex;
        align-items: center;
    }

    .field-desktop {
        display: flex;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        height: 100%;

        border-top: 4px solid var(--color-dark-blue);
        border-left: 4px solid var(--color-dark-blue);
        background: var(--color-light-blue);
    }

    .field-desktop.active {
        border-radius: 5px 0px 0px 0px;
        border-top: 4px solid transparent;
        border-left: 4px solid transparent;
        background: var(--color-baby-blue);
    }

    .field-desktop:last-child {
        border-radius: 0px 5px 0px 0px;
    }

    .field-desktop-content {
        display: flex;
        padding: 24px;
        justify-content: space-between;

        border-radius: 0px 0px 5px 5px;
        background: var(--color-baby-blue);
    }

    #field-desktop-inner-text {
        display: flex;
        width: 550px;
        flex-direction: column;
        gap: 48px;
    }

    .field-desktop-text-box {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    #field-desktop-image-and-more {
        display: flex;
        width: 500px;
        height: 669px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .field-desktop-image-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .field-desktop-img {
        width: 100%;
    }

    .field-desktop-educations {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #fablab-for-dig-desktop-cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #fablab-for-dig-desktop-cta-buttons {
        display: flex;
        width: 100%;
        max-width: 400px;
        justify-content: space-between;
    }
}