/* This is the index CSS document */

/* =============== Section: Video banner =============== */

#banner {
    max-width: 900px;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

#banner-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#banner-headline {
    display: inline-flex;
    padding: 10px 16px;

    background: var(--color-green);
    border-radius: 0px 5px 5px 0px;

    position: absolute;
    bottom: 30px;
    left: 0px;
}

/* =============== Section: fablab introduktion =============== */



/* =============== Section: maskiner =============== */



/* =============== Section: kurser =============== */

#kurser {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background: var(--color-coral-red);
}

#kurser-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#badge-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#kurser-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.kursus-box {
    position: relative;
    width: 100%;
}

.kursus-box-image {
    width: 100%;
}

.kursus-box-text {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    background: var(--color-light-blue);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 250px;
}


/* =============== Section: ansatte =============== */

#ansatte {
    display: flex;
    padding: 30px 16px;
    flex-direction: column;
    gap: 30px;

    background: var(--color-light-blue);
}

#ansatte-kontaktpersoner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.kontaktperson-box-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontaktperson-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.kontaktperson-box-img {
    border-radius: 60px;
    width: 120px;
    height: 120px;
    background-color: var(--color-dark-blue);

    display: flex;
    justify-content: center;
}

.kontaktperson-box-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.kontaktperson-box-text-inner {
    display: flex;
    flex-direction: column;
}


/* =============== Section: praktisk information =============== */



/* =============== Section: footer =============== */



/* ========================================================================================== */

/* =============== Media Query =============== */
@media only screen and (min-width: 901px) {}